:root {
    --azul1: #081A40;
    --azul2: #0E3659;
    --azul3: #2A678C;
    --azul4: #498BA6;
    --azul5: #8FCBD9;
    --blanco1: #F5F9FA;
    --blanco2: #EBF3F5;
    --gris1: #E1E4E5;
    --gris2: #C0C6C9;
    --gris3: #4B4C4D;
    --negro1: #323333;
    --negro2: #2A2B2B;
}