/*header div{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    
}
nav {
    background-color: brown;
}

.slider{
    background-color: blue;
}
.navbar {
    background-color: brown; 
}*/